<div>
    <ul>
        <li><a [routerLink]="['/admin/admindashboard']">Dashboard</a></li>
        <li><a [routerLink]="['/admin/adminproject']">Project</a></li>
        <li><a [routerLink]="['/admin/admintask']">Task</a></li>
        <li><a [routerLink]="['/admin/adminteam']">Team</a></li>
        <li><a [routerLink]="['/admin/adminuser']">User</a></li>
        <li><a [routerLink]="['/admin/adminanalytics']">Analytics</a></li>
        <li><a [routerLink]="['/admin/adminnotifications']">Notifications</a></li>
    </ul>
</div>
<div>
    <router-outlet></router-outlet>
</div>
