<style>
.app-project-layout{
    display: flex;
}
.project-sidebar{
    border: 2px solid rgb(219, 217, 217);
    width:20%;
    height: 100vh;
    margin-left: -10px;
    padding-top: 10px;
    
}
.project-sidebar ul{
    list-style-type: none;
}
.project-sidebar li{
    margin-top: 30px;
}
.project-sidebar li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}
.components-display{
    width:80%
}
</style>



<div class="app-project-layout">
    <div class="project-sidebar">
    <ul>
        <li><a [routerLink]="['/admin/']">Dashboard</a></li>
        <li><a [routerLink]="['/admin/adminproject']">Project</a></li>
        <li><a [routerLink]="['/admin/admintask']">Task</a></li>
        <li><a [routerLink]="['/admin/adminteam']">Team</a></li>
        <li><a [routerLink]="['/admin/adminuser']">User</a></li>
        <li><a [routerLink]="['/admin/adminanalytics']">Analytics</a></li>
        <li><a [routerLink]="['/admin/adminnotifications']">Notifications</a></li>
    </ul>
</div>
<div>
    <router-outlet></router-outlet>
</div>
</div>

