<style>

.landing{
    display: flex;
    background-image: linear-gradient( to left, rgb(114, 27, 255),white)
}
.left{
    width:60%;
    background-image: url("../../../assets/images/jeera-logo-removebg-preview.png");
    background-repeat: no-repeat;
    background-size:contain;
}   

.left-div{
  margin-left: 100px;
  padding-top: 100px;
}
.left h4{
    color: black;
    font-size: 30px;
    font-weight: 500;
}
.left h1{
    font-size: 34px; 
    color: black;
    font-weight: 600;
}

.register{
    width:40%;
    height: 100vh;   
}
form{
    width:60%;
    margin-left: 20%;
    margin-top: 10%;
    background-color: white;
    padding: 20px;
    border-radius: 6px;

}
.form-row{
    margin-bottom: 3px;
    display: block;
    padding-left: 30px;
}
label {
  display: block;
  margin-bottom: 5px; 
  font-size: 16px;

}

input[type="text"]{
  width: 80%;
  padding: 10px;
  margin-top: 3px; 
  border:1px solid rgb(216, 215, 215);
  border-radius: 6px;
   } 
select{
  width: 80%;
  padding: 10px;
  margin-top: 3px; 
  border:1px solid rgb(216, 215, 215);
  border-radius: 6px;
}
option{
    font-size: 14px;
}
p{
    font-size: 16px;
    margin-left: 50px;
}


button{
  width: 88%;
  padding: 10px;
  margin-top: 10px; 
  border:1px solid rgb(216, 215, 215);
  border-radius: 6px;
  background-color: rgb(40, 125, 253);
  color: white;
  font-size: 18px;
   }

.loginlink{
    color: rgb(40, 125, 253);
    font-size: 16px;

}
.title{
    margin-left: 30px;
    color: rgb(38, 35, 250);
}

@media screen and (max-width: 767px) {
    .landing{
    display: flex;
    background-image: linear-gradient( to left, rgb(114, 27, 255),white)
}
.left{
    width:50%;
    

}
.left-div{
  margin-left: 50px;
  padding-top: 100px;
}
.left h4{
    color: black;
    font-size: 26px;
    font-weight: 500;
}
.left h1{
    font-size: 30px; 
    color: black;
    font-weight: 600;
}

.register{
    width:50%;
    height: 90vh;   
}
form{
    width:70%;
    margin-left: 10%;
    margin-top: 20%;
    background-color: white;
    padding: 15px;
    border-radius: 8px;

}
.form-row{
    margin-bottom: 3px;
    display: block;
    padding-left: 10px;
}
label {
  display: block;
  margin-bottom: 5px; 
  font-size: 14px;

}

input[type="text"]{
  width: 80%;
  padding: 10px;
  margin-top: 3px; 
  border:1px solid rgb(216, 215, 215);
  border-radius: 6px;
   } 
select{
  width: 60%;
  padding: 8px;
  margin-top: 3px; 
  border:1px solid rgb(216, 215, 215);
  border-radius: 6px;
}
option{
    font-size: 10px;
}
p{
    font-size: 16px;
    margin-left: 10px;
}


button{
  width: 90%;
  padding: 10px;
  margin-top: 10px; 
  border:1px solid rgb(216, 215, 215);
  border-radius: 6px;
  background-color: rgb(40, 125, 253);
  color: white;
  font-size: 16px;
   }

.loginlink{
    color: rgb(40, 125, 253);
    font-size: 16px;

}
.title{
    margin-left: 10px;
    color: rgb(38, 35, 250);
}

   

  }

  @media screen and (max-width: 575px) {
    .landing{
    display: block;
    background-image: linear-gradient( to left, rgb(114, 27, 255),white)
}
.left{
    width:90%;
    text-align: left;
}
.left-div{
  margin-left: 20px;
  padding-top: 100px;
}
.left h4{
    color: black;
    font-size: 25px;
    font-weight: 400;
}
.left h1{
    font-size: 34px; 
    color: black;
    font-weight: 500;
}

.register{
    width:100%;
    height: 90vh;   
}
form{
    width:80%;
    margin-left: 8%;
    margin-top: 20%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;

}
.form-row{
    margin-bottom: 3px;
    display: block;
    padding-left: 30px;
}
label {
  display: block;
  margin-bottom: 5px; 
  font-size: 16px;

}

input[type="text"]{
  width: 80%;
  padding: 10px;
  margin-top: 3px; 
  border:1px solid rgb(216, 215, 215);
  border-radius: 6px;
   } 
select{
  width: 40%;
  padding: 10px;
  margin-top: 3px; 
  border:1px solid rgb(216, 215, 215);
  border-radius: 6px;
}
option{
    font-size: 12px;
}
p{
    font-size: 16px;
    margin-left: 50px;
}


button{
  width: 88%;
  padding: 10px;
  margin-top: 10px; 
  border:1px solid rgb(216, 215, 215);
  border-radius: 6px;
  background-color: rgb(40, 125, 253);
  color: white;
  font-size: 18px;
   }

.loginlink{
    color: rgb(40, 125, 253);
    font-size: 16px;

}
.title{
    margin-left: 30px;
    color: rgb(38, 35, 250);
}
  }
</style>


<div class="landing">

<div class="left">
    <div class="left-div">
        <h1>Welcome to Jeera !</h1>
        <h4>Streamline collaboration, track tasks, and manage resources effortlessly. Join thousands of businesses using Jeera for project success.
        <br/> Start your free trial today.</h4>
    </div>
    </div>
    <div class="register">
        <form>
        <p class="title">Register here! To start Your Journey</p>
        <div class="form-row">
            <label >Name</label>
            <input type="text" name="name" [(ngModel)]="registerdata.name">
        </div>
        <div class="form-row">
            <label >Email</label>
            <input type="text" name="email" [(ngModel)]="registerdata.email">
        </div>
        <div class="form-row">
            <label >profile Picture</label>
            <input type="text" name="profile_picture" [(ngModel)]="registerdata.profile_picture">
        </div>
        <div class="form-row">
            <label >Role</label>    
            <select name="role" [(ngModel)]="registerdata.role">
                <option value="Admin">Admin</option>
                <option value="Project Manager">Project Manager</option>
                <option value="Team Member">Team Member</option>
            </select>
        </div>  
        <div class="form-row">
            <label >Password</label>
            <input type="text"name="password" [(ngModel)]="registerdata.password">
        </div> 
        <div class="form-row">
            <button (click)="RegisterUser()">Submit</button>
        </div>
        <div class="form-row">
            <p>Already a user? <span class="loginlink" [routerLink]="['/login']">Login</span></p>

        </div>
    </form>
</div>
</div>
